// this SCSS file is modifying table section of index file
$color-even-cells: transparentize($color: aqua, $amount: .8);

.table {
  font-size: 1.5rem;
  text-align: left;
  width: 100%;

  caption {
    font-size: 2.5rem;
    text-align: left;
    padding-bottom: 5px;
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {

      &:hover {
        background-color: darken(adjust-hue($color-backgrounds, -20deg), 10%);
      }

      &:nth-child(even){ // every even child of the table will have aqua background
        //background-color: aqua;
        background-color: $color-even-cells;

        &:hover{
          background-color: opacify($color-even-cells, .3);
        }

      }


      > th,
      > td {
        padding: 10px;
        // add blue dotted line for each table row
        border-bottom: 1px dotted $blue;
      }
    }
  }
  > thead > tr {
    background-color: $darkBlue;
    color: aliceblue;
    &:hover {
      background-color: complement($color: $offWhite);
    }
    > th {
      border-bottom: 0;
    }

  }
}
